<!DOCTYPE html>

<html>

<head>
    <title>Saibas Portal</title>
  {% include 'bootstrap.html' %}

</head>

<body>
      {% include 'navbar.html' %}

  <br><br><br>
      <div class = "content">
        <b>About {{company_name}} </b><br>
        <h4></h1>We are a foundation that provides job openings for people who want to work in the field of Education.  We are looking for people who are willing to learn and grow.</h1>         

 
      
      </div>

      <div class="jumbotron text-center">
        <h1>Saibas</h1> 
        <p>Contact us</p> 
      </div>      
      <div>
        {% for job in jobs %}
        {% include 'careerlist.html' %}
        {% endfor %}  
      </div>
      <div class="text-center">
        <a target="_blank" href="mailto:arieabisha@gmail.com?subject=Question&body=Question%3A%20%3Ctype%20your%20question%3E%0D%0ALink%3A%20%3Cpaste%20web%20link%20%2F%20if%20any%3E%0D%0AFile%3A%20%3Cpaste%20file%20link%20%2F%20if%20any%3E" button class="btn btn-primary btn-lg mt-2" >Contact us</a>
        <p class="mt-4"></p>
      </div>
      {% include 'login.html' %}
    </div>  
  {% include 'footer.html' %}

  
</body>
  

</html>