{% extends 'base.html' %}
{% include 'header.html' %}

{% block title%} {% endblock %}

{% block body %}  
  <div class="container">
  
      <b>Daftar Murid</b>
    <div align="right"><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#studentadd" data-show="true">Tambah murid</button>
    </div>
      <p></p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Gender</th>
            <th>Tanggal Lahir</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          {% include 'studentlist.html' %}
          {% endfor %}
        </tbody>
<!--edit student-->
      </table>

<!--add student-->
    {% include 'studentadd.html' %}
  </div> 
{% endblock %}