
<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <br>
          <h4 class="modal-title">Masuk kedalam aplikasi</h4>
        </div>

        <div class="modal-body">

          <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Alamat email atau nomor Handphone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ketik alamat email atau nomor handphone">
            <small id="emailHelp" class="form-text text-muted">Kami menjaga kerahasiaan Anda.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ketik kata sandi">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Tetap masuk</label>
          </div>
          <button type="submit" class="btn btn-primary">Masuk</button>
        </form>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
      </div>

    </div>
  </div>
</div>
