<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Saibas</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">Mengenai</a></li>
        <li><a href="#services">Layanan</a></li>
        <li><a href="#portfolio">Hubungi Kami</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Akademik<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink">
              <li><a href="/student/index">Murid</a></li>
              <li><a href="#">Guru</a></li>
              <li><a href="#">Jadwal Kelas</a></li>
            </ul>
        </li>
        <li><a href="#contact">Masuk</a></li>
      </ul>
    </div>
  </div>
</nav>




