<!DOCTYPE html>

<html>

<head>
    <title>Saibas Portal</title>
  {% include 'bootstrap.html' %}

</head>

<body>
      {% include 'navbar.html' %}
    
  <br><br><br>
  <div class="content">
  
      <b>Daftar Murid</b>
    <div align="right"><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#studentadd" data-show="true">Tambah murid</button>
    </div>
      <p class="lead mt-0">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Gender</th>
            <th>Tanggal Lahir</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          {% include 'studentlist.html' %}
          {% endfor %}
        </tbody>
<!--edit student-->
      </table>

<!--add student-->
    {% include 'studentadd.html' %}
  </div> 
  {% include 'footer.html' %}
</body>

</html>
